/* 
  ========================================
  CUSTOM CURSOR
  ========================================
*/
.cursor-dot, .cursor-circle {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 9999;
    pointer-events: none;
}

.cursor-dot {
    width: 4px;
    height: 4px;
    background-color: var(--cursor-color);
}

.cursor-circle {
    width: 20px;
    height: 20px;
    border: 1px solid var(--cursor-color);
    transition: width 0.2s, height 0.2s, background-color 0.2s;
}

/* Hover State for Cursor */
body.hovering .cursor-circle {
    width: 40px;
    height: 40px;
    background-color: rgba(128,128,128, 0.1);
    border-color: transparent;
}

/* Updated Cursor Hover State */
body.hovering .cursor-circle {
    width: 60px;
    height: 60px;
    background-color: rgba(128, 128, 128, 0.3);
    border-color: transparent;
    mix-blend-mode: difference; /* Optional: for visibility over images */
}

/* Hide custom cursor and restore default on touch devices */
@media (hover: none) and (pointer: coarse) {
    .cursor-dot, .cursor-circle {
        display: none !important;
    }
    
    *, *::before, *::after {
        cursor: auto !important;
    }
}
