/* Main stylesheet entry point */
@import './base/variables.css';
@import './base/reset.css';
@import './base/global.css';
@import './components/cursor.css';
@import './components/blobs.css';
@import './components/header.css';
@import './components/menu.css';
@import './components/lightbox.css';
@import './pages/home.css';
@import './pages/work.css';
@import './pages/about.css';